/auto/
/*.aux
/*.bbl
/*.blg
/*.fdb_latexmk
/*.fls
/strucfunc_paper.log
/strucfunc_paper.out
/strucfunc_paper.pdf
/strucfunc_paper.synctex.gz
/Figures/*.afdesign
/supplementary_material_strucfunc_paper.log
/supplementary_material_strucfunc_paper.out
/supplementary_material_strucfunc_paper.synctex.gz
